.btn:active {
    background-color: #4a453a;
    border-color: #292620 !important;

}

.btn:hover {
    background-color: #4a453a;
    border-color: #292620 !important;

}

.btn-primary:active,
.btn-primary:focus:active,
.btn-primary.focus:active {
    background-color: #4a453a !important;
    color: #d0c3a5;
    border-color: #292620 !important;
    transform: scale(0.98);
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #4a453a;
    color: #d0c3a5;
    border-color: #292620 !important;
    transform: scale(0.98);
    box-shadow: none !important;
}

.blog-list:hover{
    color: #4a453a;
}

a:hover{
    color: #292620;
}

/* Mailchimp Embed Form Styles */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

.subscribe-btn {
    height: 38px; /* Shorter height */
}

.form-control {
    height: 38px; /* Match the button height */
}

#mc_embed_signup input {
    margin-top: 0px;
}