{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Your Bag</h1>
    <div class="row">
        {% for item in bag_items %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="painting-container">
                    <img src="{{ item.painting.image.url|safe }}" class="img-fluid" alt="{{ item.painting.title }}">
                    <div class="painting-footer">
                        <h5>{{ item.painting.title }}</h5>
                        <p><strong>Price:</strong> ${{ item.painting.price }}</p>
                        <p>
                            <strong>Quantity:</strong>
                            <form action="{% url 'adjust_bag' item.item_id %}" method="POST" class="d-inline-block">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control d-inline-block w-auto" style="width: 70px;">
                                <button type="submit" class="btn btn-info btn-sm">Update</button>
                            </form>
                        </p>
                        <p><strong>Total:</strong> ${{ item.total_price }}</p>
                        <a href="{% url 'remove_from_bag' item.item_id %}" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="bag-summary">
        <h4>Total: ${{ total_price }}</h4>
        <a href="" class="btn btn-primary">Proceed to Checkout</a>
    </div>
</div>
{% endblock %}
