{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>All Paintings</h1>
    <div class="row">
        {% for painting in paintings %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="{{ painting.image.url }}" class="card-img-top" alt="{{ painting.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ painting.title }}</h5>
                        <p class="card-text">{{ painting.description }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ painting.price }}</p>
                        <a href="{% url 'painting_detail' painting.pk %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
