{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container" style="background-image: url('{{ https://res.cloudinary.com/dxm37gakc/image/upload/v1723227850/bacground_bla1ou.png }}'); background-size: cover; background-position: center; height: 100vh;">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto text-center">
                <h1 class="display-4 logo-font text-black">
                    The page you are looking for isn't available
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                                Return to shop
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
