{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col muted">
            <title>Blog Posts</title>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="blog-post-container">
    <h1 class="blog-post-title">{{ post.title }}</h1>
    <div class="blog-post-content">
        {% if post.image %}
        <div class="blog-image-container">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-image">
            <span class="blog-post-author">{{ post.author }}</span>
            <span class="blog-post-date">{{ post.created_at|date:"F j, Y" }}</span>
        </div>
        {% endif %}
        <div class="blog-text">
            <p class="blog-post-meta"> {{ post.content }}</p>
        </div>
    </div>
</div>

{% endblock %}