{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Raleway:wght@400;700&family=Montserrat:wght@400;700&family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block title %}Art Store{% endblock %}</title>
 


    {% block extra_head %}
   <!-- Favicon -->
   <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    {% endblock %}



</head>

<body>
    {% load bag_tags %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Art Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_paintings' %}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog_post_list' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="user-options" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User Options
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if user.is_superuser %}
                            <a href="{% url 'add_painting' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div class="btn btn-primary position-relative">
                                    <i class="fas fa-shopping-bag fa-lg"></i>
                                    <span id="bag-icon-count"
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        {% bag_count request %}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2024 Art Store</span>
        </div>
    </footer>

    <!-- Additional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- <script>
        const backToTopButton = document.getElementById('back-to-top');

        window.addEventListener('scroll', () => {
            if (window.scrollY > 300) {
                backToTopButton.style.display = 'block';
            } else {
                backToTopButton?.style.display = 'none';
            }
        });

        backToTopButton?.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script> -->
    {% block page_header %}
    {% endblock %}


    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
</body>

</html>