{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endblock %}

    {% block extra_meta %}
    <meta name="description"
        content="Discover and purchase original paintings and murals from talented artists worldwide. Our curated art store offers unique, hand-crafted artworks to enhance any space, with a wide range of styles and mediums available. Shop now for exclusive art pieces and transform your home or office with stunning wall art.">
    <meta name="keywords"
        content="art, paintings, murals, original art, hand-crafted art, online art store, buy paintings, artist murals, wall art, contemporary art, modern art, home decor, office decor, art for sale, unique art pieces">
    <meta name="author" content="Art Store">
{% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Raleway:wght@400;700&family=Montserrat:wght@400;700&family=Abril+Fatface&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Load jQuery first -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Then Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- Then Bootstrap's JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>
        Art store - {% block title %}{% endblock %}
    </title>

    {% block extra_head %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
    {% load bag_tags %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Art Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_paintings' %}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog_post_list' %}">Blog</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="user-options" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My account
                        </a>

                        <div class="dropdown-menu" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_painting' %}" class="dropdown-item">Painting Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div class="btn btn-primary position-relative">
                                    <i class="fas fa-shopping-bag fa-lg"></i>
                                    <span id="bag-icon-count"
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        {% bag_count request %}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container-wrapper mt-5">
        <div class="container quotes-container content-container">
            <section class="footer">
                <div class="row">
                    <div class="col-12 page-header mb-4">
                        <h6 class="text-uppercase">Stay in touch:</h6>
                        <hr class="block-divider block-divider--short">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h5>Social</h5>
                        <p>Keep up to date with all our latest offers</p>
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-square"></i> Follow us on Facebook!
                        </a><br>
                        <a href="https://www.instagram.com/artandcraftk/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i> Follow us on Instagram!
                        </a>
                    </div>
                    
                </div>
                <div class="footer mt-auto py-3 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-md-left text-center">
                                <a href="https://www.termsfeed.com/live/5989c13e-0f9b-4fa6-8514-afe6290cd700"
                                    target="_blank">
                                    Privacy Policy
                                </a>
                            </div>
                            <div class="col-md-6 text-md-left">
                                <span class="text-muted">© 2024 Art Store</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>


    {% block postloadjs %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Function to show toasts
            function showToasts() {
                document.querySelectorAll('.toast').forEach(function (toastEl) {
                    var toast = new bootstrap.Toast(toastEl, {
                        autohide: true,
                        delay: 5000
                    });
                    toast.show();
                });
            }

            showToasts();

            document.querySelectorAll('.add-to-bag-form').forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    var url = form.action;
                    var data = new URLSearchParams(new FormData(form)).toString();

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        body: data
                    }).then(response => response.json())
                        .then(response => {
                            if (response.count !== undefined) {
                                updateBagIcon();
                            }
                            if (response.message) {
                                document.getElementById('toast-container').insertAdjacentHTML('beforeend', response.message);
                                showToasts();
                            }
                        });
                });
            });
        });

        function updateBagIcon() {
            fetch('{% url "update_icon_count" %}')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('bag-icon-count').textContent = data.count;
                });
        }
    </script>

    {% endblock %}
</body>

</html>